@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #779;
  font-weight: normal;
  font-size: 200;
}

html, body {
  margin: 0;
  padding: 0;
}

.main-cont {
  display: flex;
  color: aqua;
  
}

.nav ul {
  margin:0;
}

.nav li {
  display: inline;
}

.nav a {
  padding: .2em;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.main-nav li {
  padding: 0 .5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, .3);
}

.main-nav {
  text-align: right;
  font-size: 2em;
  font-weight: lighter;
  border-bottom: 1px solid grey;
}
.main-header {
  background-image: url(images/pic4.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(100, 80, 30, .6);
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.cont {
  color: #60a;
  text-align: center;
  font-weight: 900px;
  font-size: 2.5em;
}
p {
  font-size: 25px;
}
.about-image {
  float: left;
  height: 500px;
  width: 500px;
  margin: 15px;
  border-radius: 200px;
}
